---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-50 box-border
---

<x-main>
  <div class="bg-black font-sans box-border text-center">
    <img
      src="images/gradient-horizontal.png"
      width="100%"
      height="12px"
      class="p-0 m-0 block box-border max-w-[1228px] mx-auto"
    />

    <div
      class="bg-cover bg-bottom w-full max-w-[1228px] mx-auto box-border bg-no-repeat px-8"
      style="background-image: url('images/so-editing-bg.png')"
    >
      <div class="w-full pt-[250px] max-w-[1220px] mx-auto pb-[240px]">
        <table>
          <tr>
            <tb class="text-[35px] float-left">Snapshot 2023</tb>
            <tb>
              <img
                src="https://download.aftershoot.com/email-images/Logo.png"
                width="231"
                alt="aftershoot"
                class="float-right"
              />
            </tb>
          </tr>
        </table>
      </div>

      <!-- time save -->
      <div class="w-full max-w-[1220px] mx-auto mb-[100px] text-left">
        <div
          class="text-xl uppercase font-semibold tracking-[6px] leading-[24px] mb-4"
        >
          Time saved with Aftershoot
        </div>
        <table class="block">
          <tr>
            <!-- Days -->
            <td>
              <div
                class="text-[#F6F6F6] text-[150px] font-normal leading-[150px] -tracking-[4.5px]"
              >
                24
              </div>
              <div class="text-[35px] text-center font-semibold leading-[52px]">
                Days
              </div>
            </td>

            <!-- Divider -->
            <td class="text-[52px] px-4">
              <div class="w-[10px] h-[10px] bg-[#F6F6F6] mb-10"></div>
              <div class="w-[10px] h-[10px] bg-[#F6F6F6] mb-10"></div>
            </td>

            <!-- Hours -->
            <td class="">
              <div
                class="text-[#F6F6F6] text-[150px] font-normal leading-[150px] -tracking-[4.5px]"
              >
                10
              </div>
              <div class="text-[35px] text-center font-semibold leading-[52px]">
                Hours
              </div>
            </td>

            <!-- Divider -->
            <td class="text-[52px] px-4">
              <div class="w-[10px] h-[10px] bg-[#F6F6F6] mb-10"></div>
              <div class="w-[10px] h-[10px] bg-[#F6F6F6] mb-10"></div>
            </td>

            <!-- Minutes -->
            <td>
              <div
                class="text-[#F6F6F6] text-[150px] font-normal leading-[150px] -tracking-[4.5px]"
              >
                46
              </div>
              <div class="text-[35px] text-center font-semibold leading-[52px]">
                Minutes
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- spirit animal -->
      <div class="w-full max-w-[1220px] mx-auto text-left mb-[100px]">
        <div
          class="text-xl uppercase font-semibold tracking-[6px] leading-[24px]"
        >
          Your Spirit animal
        </div>
        <div class="text-[99px] -tracking[1.98px]">Editing Flamingo</div>
      </div>

      <!-- stats -->
      <div class="w-full max-w-[1220px] mx-auto text-left mb-[100px]">
        <table>
          <tr>
            <td>
              <div class="w-full max-w-[1220px] mx-auto text-left">
                <div
                  class="text-xl uppercase font-semibold tracking-[6px] leading-[24px]"
                >
                  Photos culled
                </div>
                <div class="text-[99px] -tracking[1.98px]">502,000</div>
              </div>
            </td>
            <td>
              <div class="w-full max-w-[1220px] mx-auto text-left ml-[150px]">
                <div
                  class="text-xl uppercase font-semibold tracking-[6px] leading-[24px]"
                >
                  Money Saved
                </div>
                <div class="text-[99px] -tracking[1.98px]">$2,000</div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- link -->
      <div class="w-full max-w-[1220px] mx-auto text-left">
        <table class="w-full">
          <tr>
            <td>
              <div>
                <div class="text-[30px] leading-[45px] mb-2">
                  Join me on this journey
                </div>
                <img src="images/tab-here.png" width="160px" />
              </div>
            </td>
            <td class="">
              <div class="w-[680px] h-[700px] bg-transparent" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</x-main>
