---
title: "Aftershoot end of the year snapshot"
preheader: "Another year is on the books and what a year it’s been! You've done a lot of great work with Aftershoot and we're thrilled and honored that we could be with you along the way."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-black
---

<x-main>
  <div
    class="relative bg-[#1B1B1B] font-sans min-h-screen text-[#F6F6F6] w-full max-w-[730px] mx-auto"
  >
    <div class="w-full max-w-[610px] mx-auto pt-[80px] pb-[60px] px-4">
      <!-- site -->
      <div class="text-center">
        <img
          src="https://download.aftershoot.com/email-images/Logo.png"
          width="175"
          alt="aftershoot"
        />
      </div>

      <!-- user -->
      <div class="my-10">
        <div class="text-center">
          <img
            src="https://download.aftershoot.com/email-images/User_Image.png"
            width="95"
            alt="aftershoot"
            class="rounded-full"
          />
        </div>

        <div
          class="my-6 text-center text-[28px] font-medium leading-[31px] -tracking-[0.84px]"
        >
          <div>Jane, welcome to your</div>
          <img
            src="https://download.aftershoot.com/email-images/aftershoot-gradiant.png"
            width=""
            alt="aftershoot"
          />
          <p
            class="w-full mx-auto max-w-[510px] text-[16px] font-normal leading-[24px]"
          >
            Another year is on the books and what a year it has been! You've
            done a lot of great work and we're thrilled and honored that we
            could be with you along the way.
          </p>
        </div>
      </div>

      <table class="w-full mb-4">
        <tr>
          <td>
            <!-- time save -->
            <div class="bg-[#453B4D] rounded-[10px] py-6 w-[228px]">
              <div
                class="text-[#F39B3A] text-center max-w-[165px] mx-auto text-[12px] font-bold uppercase leading-[13px] tracking-[2.4px]"
              >
                Time saved with Aftershoot
              </div>

              <div class="my-4">
                <table class="mx-auto">
                  <tr>
                    <!-- Days -->
                    <td>
                      <div
                        class="text-[#F6F6F6] text-[42px] font-normal leading-[42px] -tracking-[2.1px]"
                      >
                        24
                      </div>
                      <div class="text-[8px] text-center">Days</div>
                    </td>

                    <!-- Divider -->
                    <td class="text-[52px] px-2 mt-[15px] -translate-x-10">
                      <div class="w-[5px] h-[5px] bg-[#F6F6F6] mb-3"></div>
                      <div class="w-[5px] h-[5px] bg-[#F6F6F6]"></div>
                    </td>

                    <!-- Hours -->
                    <td class="">
                      <div
                        class="text-[#F6F6F6] text-[42px] font-normal leading-[42px] -tracking-[2.1px]"
                      >
                        10
                      </div>
                      <div class="text-[8px] text-center">Hours</div>
                    </td>

                    <!-- Divider -->
                    <td class="text-[52px] px-2 mt-[15px] -translate-x-10">
                      <div class="w-[5px] h-[5px] bg-[#F6F6F6] mb-3"></div>
                      <div class="w-[5px] h-[5px] bg-[#F6F6F6]"></div>
                    </td>

                    <!-- Minutes -->
                    <td>
                      <div
                        class="text-[#F6F6F6] text-[42px] font-normal leading-[42px] -tracking-[2.1px]"
                      >
                        46
                      </div>
                      <div class="text-[8px] text-center tracking-0">
                        Minutes
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

              <div
                class="text-center max-w-[175px] mx-auto text-xs leading-[14.4px]"
              >
                Let us know what you spent all this newfound time on!
              </div>
            </div>
          </td>
          <td>
            <!-- spirit animal -->
            <table
              class="bg-[#1C202F] rounded-[10px] p-6 w-[366px] h-[180px] ml-4"
            >
              <tr>
                <td>
                  <!-- <img
                    src="https://download.aftershoot.com/email-images/images/Crab.png"
                    width="110"
                    alt="aftershoot culling spirit auto"
                  /> -->
                  <div class="w-[6em]">
                    <img
                      src="https://download.aftershoot.com/email-images/images/Crab.png"
                      width="100%"
                      alt="aftershoot culling spirit"
                    />
                  </div>
                </td>

                <td>
                  <div class="ml-4">
                    <div
                      class="text-[#F39B3A] mb-4 text-[12px] font-bold uppercase leading-[9.6px] tracking-[2.4px]"
                    >
                      Your Spirit Animal
                    </div>

                    <div class="text-[36px] mb-4 font-semibold leading-[36px]">
                      Culling
                      <br />
                      Crab
                    </div>

                    <div class="text-[10px] leading-[12px]">
                      You are among the users that culled and cut the most
                      photos this year!
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!-- stats review -->

      <div class="p-6 bg-[#465E4D] rounded-[10px] mt-4 mb-4">
        <div
          class="text-[#F39B3A] text-[12px] font-bold uppercase leading-[9.6px] tracking-[2.4px]"
        >
          Your Stats reviewed
        </div>

        <div class="mt-3 text-center">
          <!-- Photos Culled -->
          <div class="inline-block">
            <div
              class="text-[#F6F6F6] text-[2.6em] font-normal leading-[42px] -tracking-[2.1px]"
            >
              1,250
            </div>
            <div class="mt-1 max-w-[175px] mx-auto text-xs leading-[14.4px]">
              Photos Culled
            </div>
          </div>

          <!-- Photos Edited -->
          <div class="inline-block mx-10">
            <div
              class="text-[#F6F6F6] text-[2.6em] font-normal leading-[42px] -tracking-[2.1px]"
            >
              2,264
            </div>
            <div class="mt-1 max-w-[175px] mx-auto text-xs leading-[14.4px]">
              Photos Edited
            </div>
          </div>

          <!-- Photos Edited -->
          <div class="inline-block">
            <div
              class="text-[#F6F6F6] text-[2.6em] font-normal leading-[42px] -tracking-[2.1px]"
            >
              $1,190
            </div>
            <div class="mt-1 max-w-[175px] mx-auto text-xs leading-[14.4px]">
              Saved using Aftershoot
            </div>
          </div>
        </div>
      </div>

      <table class="mb-4">
        <tr>
          <!-- Favorite Genre  -->
          <td>
            <div
              class="rounded-[10px] w-[297px] overflow-hidden bg-[#2E2E2E] h-[240px] box-border bg-cover bg-no-repeat"
            >
              <div class="pt-6 px-6">
                <div
                  class="text-[#F39B3A] text-[12px] mb-3 font-bold uppercase leading-[9.6px] tracking-[2.4px]"
                >
                  Favorite AI STyle
                </div>

                <div
                  class="text-[36px] text-[#F6F6F6] dark:text-[#F6F6F6] font-semibold leading-[36px] mb-3"
                >
                  Leo
                </div>
                <div
                  class="text-[12px] leading-[14.5px] text-[#F6F6F6] dark:text-[#F6F6F6] min-h-[30px]"
                >
                  This is the AI Style that you used the most
                </div>
              </div>

              <img
                src="https://download.aftershoot.com/email-images/images/Graicard-test-3.png"
                width="100%"
              />
            </div>
          </td>

          <!--  Did you know? -->
          <td>
            <div
              class="bg-[#733322] ml-4 rounded-[10px] pt-6 px-6 w-[297px] h-[240px] box-border overflow-hidden"
            >
              <div
                class="text-[#F39B3A] text-[12px] mb-3 font-bold uppercase leading-[9.6px] tracking-[2.4px]"
              >
                Did you know?
              </div>

              <div class="">
                <div class="text-[36px] font-semibold leading-[32px] mb-4">
                  24,567
                </div>
                <div class="text-[12px] leading-[14.5px]">
                  Personal AI Editing Profiles were created with Aftershoot this
                  year
                </div>
              </div>

              <div class="text-right mt-[30px]">
                <img
                  src="https://download.aftershoot.com/email-images/images/Feature-default.png"
                  width="150"
                />
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="mb-4">
        <table class="w-full">
          <tr>
            <td>
              <!-- Favorite Camera -->
              <div
                class="bg-[#466178] w-[297px] h-[240px] rounded-[10px] py-6 pl-6 pr-5 box-border"
              >
                <div
                  class="text-[#F39B3A] mb-3 text-[12px] font-bold uppercase leading-[9.6px] tracking-[2.4px]"
                >
                  did you know
                </div>

                <div class="text-[28px] font-semibold leading-[30px]">
                  Canon EOS R6
                </div>
                <div
                  class="text-[8px] mt-[6px] font-semibold uppercase leading-[9.6px] tracking-[2.4px]"
                >
                  Camera
                </div>

                <div class="text-[28px] font-semibold leading-[30px] mt-3">
                  Canon RF28-70MM
                </div>
                <div
                  class="text-[8px] mt-[6px] font-semibold uppercase leading-[9.6px] tracking-[2.4px]"
                >
                  Camera Lens
                </div>
                <div class="text-xs leading-[18px] mt-3">
                  These were the most common camera and lens used amongst
                  Aftershoot Users
                </div>
              </div>
            </td>

            <!-- Favorite Genre  -->
            <td>
              <div
                class="w-[297px] h-[240px] bg-[#6A4F36] overflow-hidden rounded-[10px] ml-4 box-border bg-cover bg-no-repeat"
              >
                <div class="pt-6 px-6">
                  <div
                    class="text-[#F39B3A] text-[12px] mb-3 font-bold uppercase leading-[9.6px] tracking-[2.4px]"
                  >
                    Favorite Genre
                  </div>

                  <div
                    class="text-[36px] text-[#F6F6F6] dark:text-[#F6F6F6] font-semibold leading-[36px] mb-3"
                  >
                    Leo
                  </div>
                  <div
                    class="text-[12px] leading-[14.5px] text-[#F6F6F6] dark:text-[#F6F6F6] min-h-[30px]"
                  >
                    This is the AI Style that you used the most
                  </div>
                </div>

                <img
                  src="https://download.aftershoot.com/email-images/images/Graicard-test-3.png"
                  width="100%"
                />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- --------- Divider ---------- -->

    <div class="h-[1px] bg-[#A6A6A630] mx-auto w-[220px]" />

    <div
      class="w-full max-w-[610px] mx-auto text-base leading-[24px] py-[40px] -tracking-[0.32px]"
    >
      <div class="">
        <div class="mb-8 text-base">
          Numbers this impressive are worth boasting about!
        </div>

        <table class="mb-8">
          <tr>
            <td>
              <div class="w-full max-w-[320px]">
                <div class="mb-6">
                  Share with your friends & followers how much time you saved
                  and work you got done to earn a chance at exclusive Aftershoot
                  T-shirt! 👕👚
                </div>

                <div class="mb-6">
                  <div>Follow these steps for a chance to win:</div>

                  <ol class="py-0 my-0 mt-4">
                    <li class="mb-3">
                      <span class="font-semibold text-[#F39B3A]">
                        <a
                          href="https://www.aftershoot.com"
                          target="_blank"
                          class="text-[#F39B3A]"
                          >Share your Aftershoot Snapshot</a
                        >
                      </span>
                      on your social media
                    </li>
                    <li class="mb-3">
                      Tag
                      <span class="font-semibold text-[#F39B3A]">
                        @aftershootco
                      </span>
                      and use the hashtag
                      <span class="font-semibold text-[#F39B3A]">
                        #Aftershoot2023
                      </span>
                    </li>
                    <li>
                      Pay attention to our social media for when we announce the
                      Stay tuned on our socials for the announcement of the
                      <span class="font-semibold text-[#F39B3A]">
                        50 lucky winners!</span
                      >
                    </li>
                  </ol>
                </div>

                <div>That's all you have to do - Good Luck!</div>
              </div>
            </td>
            <td>
              <img
                src="https://download.aftershoot.com/email-images/images/AS%20Tshirt.png"
                width="230"
                class="rounded-lg ml-[60px]"
              />
            </td>
          </tr>
        </table>

        <div class="text-center mb-8 text-[16px]">
          Your efforts this year are truly amazing - you should be proud of
          yourself! Here's to a great 2024 and many more years of us working
          together!
        </div>
      </div>
    </div>

    <!-- --------- Divider ---------- -->

    <div class="h-[1px] bg-[#A6A6A630] mx-auto w-[220px] mb-10" />

    <!-- --------- Footer ---------- -->

    <div
      class="w-full mb-[20px] max-w-[610px] text-center mx-auto text-base leading-[24px] pb-[26px] text-[#A6A6A6]"
    >
      <!-- social medias -->
      <div class="text-center mx-auto mb-3">
        <a
          href="https://www.facebook.com/aftershootco/"
          target="_blank"
          class="no-underline"
        >
          <img
            src="https://download.aftershoot.com/email-images/images/iconsFB.png"
            width="45"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>

        <a
          href="https://www.instagram.com/aftershootco/"
          target="_blank"
          class="no-underline"
        >
          <img
            src="https://download.aftershoot.com/email-images/images/iconsInstagram.png"
            width="45"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>

        <a
          href="https://in.pinterest.com/AfterShootCo/"
          target="_blank"
          class="no-underline"
        >
          <img
            src="https://download.aftershoot.com/email-images/images/iconsPinterest.png"
            width="45"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>

        <a
          href="https://twitter.com/aftershootco"
          target="_blank"
          class="no-underline"
        >
          <img
            src="https://download.aftershoot.com/email-images/images/iconsX.png"
            width="45"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>

        <a
          href="https://www.youtube.com/channel/UCvDl1D6YafsMBJOyAXDZU0A/featured"
          target="_blank"
          class="no-underline"
        >
          <img
            src="https://download.aftershoot.com/email-images/images/iconsYoutube.png"
            width="45"
            alt="aftershoot pinterest icon"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>

        <a
          href=" https://www.tiktok.com/@aftershootco (edited) "
          target="_blank"
          class="no-underline"
        >
          <img
            src=" https://download.aftershoot.com/email-images/images/iconsTiktok.png"
            width="45"
            alt="aftershoot twitter icon"
            class="ml-3 my-0 mt-auto mb-auto"
          />
        </a>
      </div>

      <div>© 2023 Made by 🦄</div>
    </div>
  </div>
</x-main>
